In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
from statsmodels.tsa import stattools

In [2]:
df=pd.read_csv('monthly_price.csv')

In [3]:
df.head()

        Date       Price
0  1/31/2000  219.942449
1  2/29/2000  275.117647
2  3/31/2000  263.198203
3  4/30/2000  253.428767
4  5/31/2000  215.742602

In [4]:
#checking of the info of file
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    72 non-null     object
 1   Price   72 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.3+ KB