In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
from statsmodels.tsa import stattools

In [2]:
df=pd.read_csv('monthly_price.csv')

In [3]:
df.head()

        Date       Price
0  1/31/2000  219.942449
1  2/29/2000  275.117647
2  3/31/2000  263.198203
3  4/30/2000  253.428767
4  5/31/2000  215.742602

In [4]:
#checking of the info of file
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    72 non-null     object
 1   Price   72 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.3+ KB

In [6]:
df['Date'] = pd.to_datetime(df['Date'])  
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

In [7]:
df

         Date       Price  Year  Month
0  2000-01-31  219.942449  2000      1
1  2000-02-29  275.117647  2000      2
2  2000-03-31  263.198203  2000      3
3  2000-04-30  253.428767  2000      4
4  2000-05-31  215.742602  2000      5
..        ...         ...   ...    ...
67 2005-08-31  305.240185  2005      8
68 2005-09-30  315.102514  2005      9
69 2005-10-31  323.380634  2005     10
70 2005-11-30  334.474315  2005     11
71 2005-12-31  379.632000  2005     12

[72 rows x 4 columns]

In [15]:
df['Date'] = df['Date'].astype(str)  # Convert 'Date' column to string
for index, row in df.iterrows():
    df.at[index, 'Date'] = f"{row['Year']}.{row['Month']}"

In [16]:
df.head()

     Date       Price  Year  Month
0  2000.1  219.942449  2000      1
1  2000.2  275.117647  2000      2
2  2000.3  263.198203  2000      3
3  2000.4  253.428767  2000      4
4  2000.5  215.742602  2000      5