In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
plt.rcParams['figure.figsize']=12,6

#### k-means

In [2]:
ct = pd.read_csv('clustering_data_1.csv')

In [4]:
ct.head()

          X          Y
0 -8.659655   1.344655
1 -4.765612  -8.923286
2 -8.744243  -0.576567
3  1.805738 -13.008058
4 -4.798434  -8.945116